body {
    font-family:cursive ;
}

header {
    background-color: #40798c;
    padding: 18px;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    display: flex;
}

li{
    margin: 0 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.08s ease;
}

li:hover {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 1.5em;
    color: #13262F;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}

span {
    color: #1f363d;
}